
{% extends 'base.html' %}

{% block content %}
<div class="col-sm-offset-3 col-sm-9 col-lg-offset-2 col-lg-10">
    <form action="" method="POST">
        <h3 class="text-center">Editar modelo de bomba</h3>
        <hr class="linhahr">
        <div class="col-xs-12">
            <div class="col-xs-5">
                <div class=" form-group">
                    <label>Tipo:</label>
                    <input class="form-control" type="text" name="tipo" value="{{ tipoBomba.tipo}}" required>
                </div>
            </div>
            <div class="col-xs-5">
                <div class=" form-group">
                    <label>Mca:</label>
                    <input class="form-control" type="text" name="mca" value="{{ tipoBomba.mca}}"  required>
                </div>
            </div>
            <div class="col-xs-5">
                <div class=" form-group">
                    <label>Rotação:</label>
                    <input class="form-control" type="text" name="rotacao" value="{{ tipoBomba.rotacao}}" required>
                </div>
            </div>
            <div class="col-xs-5">
                <div class=" form-group">
                    <label>Qt. Estoque:</label>
                    <input class="form-control" type="number" name="qtEstoque" value="{{ tipoBomba.qtEstoque}}" disabled required>
                </div>
            </div>
            <div class="col-xs-12">
                <input class="btn btn-success" type="submit" value="Salvar" />
                <a href="/index" class="btn btn-danger">Cancelar</a>
            </div>
        </div>        
    </form>
</div>

{% endblock %}