
{% extends 'base.html' %}

{% block content %}
<div class="col-sm-offset-3 col-sm-9 col-lg-offset-2 col-lg-10">
    <h1 class="text-center">Lista de Modelos de Bombas</h1>
    <table class="table table-bordered table-hover">
        <tr>
            <td class="col-xs-2">Tipo</td>
            <td class="text-right col-xs-1">Mca</td>
            <td class="text-right col-xs-1">Rotação</td>
            <td class="text-right col-xs-1">Qt. Estoque</td>
            <td class="text-center col-xs-1">Opções</td>
        </tr>
        {% if tipoBombas %}
        <tbody>
            {% for tipoBomba in tipoBombas %}
            <tr>
                <td>{{ tipoBomba.tipo }}</td>
                <td class="text-right">{{ tipoBomba.mca }}</td>
                <td class="text-right">{{ tipoBomba.rotacao }}</td>
                <td class="text-right">{{ tipoBomba.qtEstoque }}</td>
                <td class="text-center">
                    <a href="/editarTipoBomba/{{ tipoBomba.id }}"><i class="far fa-edit"></i></a>
                    <a class="excluir" data-toggle="modal" data-target="#deleteModal" id="deleteButton" data-codigo="/excluirTipoBomba/{{ tipoBomba.id }}"><i class="excluir far fa-trash-alt"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        {% else %}
            <td colspan="5" class="text-center">
                Nenhum dado encontrado!
            </td>
        {% endif %}
    </table>

    <nav aria-label="...">
      <ul class="pager">
          {% if prev_url %}
                <li><a href="{{ prev_url }}">Anterior</a></li>
          {% endif %}
          {% if next_url %}
               <li><a href="{{ next_url }}">Próxima</a></li>
          {% endif %}
      </ul>
    </nav>
</div>   
{% endblock %}