<div class="col-sm-offset-3 col-sm-9 col-lg-offset-2 col-lg-10">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="{{url_for('listaTipoBombas')}}">
                <i class="fas fa-list"></i>
            </a></li>
            <li class="active">Lista / Bombas</li>
        </ol>
    </div><!--/.row-->
</div>

{% extends 'base.html' %}

{% block content %}
<div class="col-sm-offset-3 col-sm-9 col-lg-offset-2 col-lg-10">
    <h1 class="text-center">Lista de Modelos de Bombas</h1>
    
    <table class="table table-bordered table-hover">
        <tr>
            <td class="text-center col-xs-1">#</td>
            <td class="col-xs-2">Tipo</td>
            <td class="text-center col-xs-1">Mca</td>
            <td class="text-center col-xs-1">Rotação</td>
            <td class="text-center col-xs-1">Opções</td>
        </tr>
        {% for tipoBomba in tipoBombas %}
        <tr>
            <td class="text-center">{{ tipoBomba.id }}</td>
            <td>{{ tipoBomba.tipo }}</td>
            <td class="text-right">{{ tipoBomba.mca }}</td>
            <td class="text-right">{{ tipoBomba.rotacao }}</td>
            <td class="text-center">
                <a href="/editarTipoBomba/{{ tipoBomba.id }}"><i class="far fa-edit"></i></a>
                <a href="/excluirTipoBomba/{{ tipoBomba.id }}"><em class="excluir far fa-trash-alt"></em></a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>   
{% endblock %}