{% extends 'base.html' %}

{% block content %}
<div class="col-sm-offset-3 col-sm-9 col-lg-offset-2 col-lg-10">

    <div class="col-xs-12">
         <h3 class="text-center">Ordens de serviço abertas</h3>
        <button class="btn btn-primary pull-right" type="button" data-toggle="modal" data-target="#novaOrdem" id="ordem">Nova Ordem</button>
    </div>
    <div class="col-xs-12">
        <hr class="linhahr">
        <a href="{{ url_for('ordemServicoAndamento') }}"> Em andamento</a> |
        <a href="{{ url_for('somenteMinhasOrdensAbertas') }}">Somente minhas</a> |
        <a href="{{ url_for('ordensFechadas') }}"> Finalizadas</a>
    </div>
    <div class="table-responsive col-xs-12">
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <td class="col-xs-2">Descrição</td>
                <td class="col-xs-1">Equipamento</td>
                <td class="text-center col-xs-2">Executor</td>
                <td class="text-center col-xs-1">Situação</td>
                <td class="text-center col-xs-1">Data/hora de início</td>
                <td class="col-xs-2">Observação</td>
                <td class="text-center col-xs-1">Finalizar</td>
            </tr>
            {% if lista %}
            <tbody>
                {% for lista in lista %}
                <tr>
                    <td class="col-xs-1">{{ lista.descricao }}</td>

                    {% for equipamento in equipamentos %}
                        {% if equipamento.id == lista.equipamento %}
                        <td class="col-xs-1">{{ equipamento.tipo }}</td>
                        {% endif %}
                    {% endfor %}

                    {% for usuario in usuarios %}
                        {% if usuario.id == lista.executor %}
                           <td class="col-xs-2 text-center">{{ usuario.username }}</td>
                        {% endif %}
                    {% endfor %}

                    {% if lista.situacao == False %}
                        <td class="col-xs-1 text-center" style="color: red;">Andamento</td>
                    {% else %}
                        <td class="col-xs-1 text-center" style="color: green;">Finalizado</td>
                    {% endif %}

                    <td class="text-center col-xs-1">{{ lista.dataHoraInicio.strftime('%d/%m/%Y - %H:%M:%S')}}</td>

                    <td class="col-xs-2">{{ lista.observacao }}</td>

                    {% if lista.situacao == False %}
                        <td class="text-center col-xs-1"><a href="/finalizarOrdem/{{ lista.id }}"><i class="fas fa-check"></i></a></td>
                    {% else %}
                        <td class="text-center col-xs-1" style="color: green;"><i class="fas fa-clipboard-check"></i></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
            {% else %}
                <td colspan="7" class="text-center">
                    Nenhum dado encontrado!
                </td>
            {% endif %}
        </table>
    </div>
    <nav aria-label="...">
      <ul class="pager">
          {% if prev_url %}
                <li><a href="{{ prev_url }}">Anterior</a></li>
          {% endif %}
          {% if next_url %}
               <li><a href="{{ next_url }}">Próxima</a></li>
          {% endif %}
      </ul>
    </nav>
</div>





	<div class="modal fade" id="novaOrdem" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel">Nova Ordem de Serviço</h4>
		  </div>
		  <div class="modal-body">
              <div class="row">
                  <form action="novaOrdem" method="post">
                    <div class="col-xs-12 col-md-offset-1 col-md-10">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label title="Modelo">Descrição&nbsp;*</label>
                                <input type="text" name="descricao" class="form-control" minlength="1" maxlength="150" placeholder="Descrição" required>
                            </div>
                        </div>
                        <div id="bomba" class="col-xs-12">
                            <div class="form-group">
                                <label>Equipamento&nbsp;*</label>
                                <input type="hidden" name="equipamento" id="idBomba">
                                <input type="text" id="equipamento" class="form-control" placeholder="Equipamento" required>
                            </div>
                        </div>
                        <div id="executor" class="col-xs-12">
                            <div class="form-group">
                                <label>Executor&nbsp;*</label>
                                <input type="hidden" name="executor" value="{{ current_user.id }}">
                                <input type="text" value="{{ current_user.username }}" class="form-control" placeholder="Executor" disabled required>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label>Observações</label>
                                <textarea class="form-control" rows="2" name="observacao" maxlength="150" placeholder="Observações..."></textarea>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <button type="submit" class="btn btn-success">Salvar</button>
                            <a href="/ordemServicoAndamento" class="btn btn-danger">Cancelar</a>
                        </div>
                    </div>
                </form>
              </div>
		  </div>
		  <div class="modal-footer">
		  </div>
		</div>
	  </div>
	</div>

<script>
$("#equipamento").autocomplete({
    source: function(request, response) {
        $.ajax({
            url: "{{ url_for("autocompleteBombas")}}",
            type: "GET",
            dataType: "json",
            data: { Prefix: request.term },
            success: function (data) {
                response($.map(data, function (item) {
                    return {
                        label: item.tipo,
                        value: item.tipo,
                        idBomba: item.id
                    };
                }))
            }
        });
    },
    minLength: 1,
   //evento de quando você seleciona uma opção
   select: function(event, ui) {
     //seto a descrição para aparecer para usuario no input text
     $("#eq_bomba").val(ui.item.label);
     $("#eq_bomba").val(ui.item.value);
     //seto id para o backend
     $("#idBomba").val(ui.item.idBomba);
   }
});
</script>
{% endblock %}