
{% extends 'base.html' %}


{% block content %}
<div class="col-sm-offset-3 col-sm-9 col-lg-offset-2 col-lg-10">

    <form action="" method="post" class="form-inline">
        {{ form.hidden_tag() }}
        <div class="col-xs-12">
            <h3 class="text-center">Busca de Peças por Bomba</h3>
            <div class="form-group">
                {{ form.buscaEquipamentos.label }}
                {{ form.buscaEquipamentos(class=" form-control", placeholder="Buscar") }}
                {% for erro in form.buscaEquipamentos.errors %}
                <span style="color: red;">{{ erro }}</span>
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-success">Buscar</button>
        </div>
    </form>
</div>
<div class="col-xs-12 col-sm-offset-3 col-sm-9 col-lg-offset-2 col-lg-10">
    <div class="col-xs-12 col-sm-6 col-lg-6">
        <div class="table-responsive">
            <table class="table table-hover table-bordered table-striped">
                <caption>Peças da bomba filtrada</caption>
                <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">Peça</th>
                        <th class="text-center">Descrição</th>
                    </tr>
                </thead>
                {% if pecas %}
                <tbody>
                    {% for peca in pecas %}
                    <tr>
                        <td class="text-center">{{peca.id}}</td>
                        <td>{{peca.nome}}</td>
                        <td>{{peca.descricao}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% else %}
                    <td colspan="4" class="text-center">
                        Nenhum dado encontrado!
                    </td>
                {% endif %}
            </table>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-5">
        <div class="table-responsive">
            <table class="table table-hover table-bordered table-striped">
                <caption>Bomba(s) Intercambiáveis</caption>
                <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">Tipo</th>
                        <th class="text-center">Mca</th>
                        <th class="text-center">Rotação</th>
                    </tr>
                </thead>
                {% if tipoBombasCompativeis %}
                <tbody>
                    {% for bbaComp in tipoBombasCompativeis %}
                    <tr>
                        <td class="text-center">{{bbaComp.id}}</td>
                        <td>{{bbaComp.tipo}}</td>
                        <td class="text-center">{{bbaComp.mca}}</td>
                        <td class="text-center">{{bbaComp.rotacao}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% else %}
                    <td colspan="4" class="text-center">
                        Nenhum dado encontrado!
                    </td>
                {% endif %}
            </table>
        </div>
    </div>
</div>

<script>
$(function() {
    $.ajax({
        url: '{{ url_for("autocompleteBuscaBombas")}}'
        }).done(function (data){
            $('#buscaEquipamentos').autocomplete({
                source: data,
                minLength: 1
            });
        });
    });
</script>
{% endblock %}