{% extends 'base.html' %}

{% block content %}

<div class="col-sm-offset-3 col-sm-9 col-lg-offset-2 col-lg-10">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="col-xs-12">
            <h1 class="text-center">Busca de Peças por Bomba</h1>
            <div class="col-xs-10 col-sm-3">
                <div class="form-group">
                    {{ form.buscaEquipamentos.label }}
                    {{ form.buscaEquipamentos(class=" form-control") }}
                    {% for erro in form.buscaEquipamentos.errors %}
                    <span style="color: red;">{{ erro }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="col-xs-12">
                <button type="submit" class="btn btn-success">Buscar</button>
            </div>
        </div>
    </form>
</div>
<div class="col-xs-12 col-sm-offset-3 col-sm-9 col-lg-offset-2 col-lg-10">
    <div class="col-xs-12 col-sm-6 col-lg-6">
        <div class="table-responsive">
            <table class="table table-hover table-bordered table-striped">
                <caption>Peças da bomba filtrada</caption> 
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Peça</th>
                        <th>Descrição</th>
                    </tr>
                </thead>
                {% if pecas %}
                <tbody>
                    {% for peca in pecas %}
                    <tr>
                        <td>{{peca.id}}</td>
                        <td>{{peca.nome}}</td>
                        <td>{{peca.descricao}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% else %}
                    <td colspan="4" class="text-center">
                        Nenhum dado encontrado!
                    </td>
                {% endif %}
            </table> 
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-5">
        <div class="table-responsive">    
            <table class="table table-hover table-bordered table-striped">
                <caption>Bomba(s) Intercambiáveis</caption>
                <thead>
                    <tr>
                        <th>#</th>
                        <th >Tipo</th>
                        <th>Mca</th>
                        <th>Rotação</th>
                    </tr>
                </thead>
                {% if tipoBombasCompativeis %}
                <tbody>
                    {% for bbaComp in tipoBombasCompativeis %}
                    <tr>
                        <td>{{bbaComp.id}}</td>
                        <td>{{bbaComp.tipo}}</td>
                        <td>{{bbaComp.mca}}</td>
                        <td>{{bbaComp.rotacao}}</td>
                    </tr>
                    {% endfor %}
                </tbody> 
                {% else %}
                    <td colspan="4" class="text-center">
                        Nenhum dado encontrado!
                    </td>
                {% endif %}
            </table>     
        </div>
    </div>
</div>
<!-- <div class="col-sm-offset-3 col-sm-9 col-lg-offset-2 col-lg-9">
    <div class="col-xs-12">
        <div class="table-responsive col-sm-3">
            <table class="table table-hover table-bordered table-striped">
                <tr>
                    <td>#</td>
                    <td>Peça</td>
                    <td>Descrição</td>
                </tr>
                {% if pecas %}
                    {% for peca in pecas %}
                    <tr>
                        <td>{{peca.id}}</td>
                        <td>{{peca.nome}}</td>
                        <td>{{peca.descricao}}</td>
                    </tr>
                    {% endfor %}
                {% else %}
            </table>
            <h6 class="text-center">Nenhum dado encontrado!</h6>
            {% endif %}
        </div>  
        <div class="table-responsive col-sm-3">
            <table class="table table-hover table-bordered table-striped">
                <tr>
                    <td>#</td>
                    <td >Tipo</td>
                    <td>Mca</td>
                    <td>Rotação</td>
                </tr>
                {% if tipoBombasCompativeis %}
                    {% for bbaComp in tipoBombasCompativeis %}
                    <tr>
                        <td>{{bbaComp.id}}</td>
                        <td >{{bbaComp.tipo}}</td>
                        <td>{{bbaComp.mca}}</td>
                        <td>{{bbaComp.rotacao}}</td>
                    </tr>
                    {% endfor %}
                {% else %}
            </table>
            <h6 class="text-center">Nenhum dado encontrado!</h6>
            {% endif %}
        </div>
    </div>
</div> -->
    
{% endblock %}