<!DOCTYPE html >
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	{% if title %}
		<title>{{ title }}</title>
	{% else %}
		<title>Sistema</title>
	{% endif %}

	<link href="//code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/datepicker3.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css" />
	<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
	integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
	crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css" />
	<script src="http://code.jquery.com/jquery-1.8.2.js"></script>
	<script src="http://code.jquery.com/ui/1.9.0/jquery-ui.js"></script>

	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse"><span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span></button>
				<a class="navbar-brand" href="{{ url_for('index')}}">Sistema de Auxilio <span>Manutenção</span></a>

			</div>
		</div><!-- /.container-fluid -->
	</nav>
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<div class="profile-sidebar">
			<div class="profile-usertitle">
				<div class="profile-usertitle-name"><i class="fas fa-user"></i> {{ current_user.username }}</div>
				<div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
				<div class="btn-group">
  					<button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">
    					Perfil <span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a href="/editarUsuario/{{ current_user.id }}">Editar perfil</a></li>
						<li><a href="/alterarSenha">Alterar senha</a></li>
  					</ul>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="divider"></div>
		<ul class="nav menu">
			<li class="active"><a href="{{ url_for('index')}}"><em class="fas fa-tachometer-alt">&nbsp;</em> Dashboard</a></li>
			<li><a href="{{ url_for('equipamentos')}}"><em class="fas fa-cogs">&nbsp;</em> Equipamentos</a></li>
			<li class="parent "><a data-toggle="collapse" href="#sub-item-1">
				<i class="fas fa-warehouse"></i> Almoxarifado <span data-toggle="collapse" href="#sub-item-1" class="icon pull-right"><em class="fa fa-plus"></em></span>
				</a>
				<ul class="children collapse" id="sub-item-1">
					<li><a class="" href="{{url_for('entradaEstoque')}}">
						<span class="fa fa-arrow-right">&nbsp;</span>Entrada Estoque
					</a></li>
				</ul>
			</li>
			<li class="parent "><a data-toggle="collapse" href="#sub-item-2">
				<em class="fa fa-navicon">&nbsp;</em> Cadastro <span data-toggle="collapse" href="#sub-item-2" class="icon pull-right"><em class="fa fa-plus"></em></span>
				</a>
				<ul class="children collapse" id="sub-item-2">
					<li><a class="" href="{{ url_for('cadastroTipoBomba')}}">
						<span class="fa fa-arrow-right">&nbsp;</span>Bombas
					</a></li>
					<li><a class="" href="{{ url_for('cadastroPeca')}}">
						<span class="fa fa-arrow-right">&nbsp;</span> Peças
					</a></li>
					<li><a class="" href="{{ url_for('cadastroSetor')}}">
						<span class="fa fa-arrow-right">&nbsp;</span> Setores
					</a></li>
					<li><a class="" href="{{ url_for('cadastroUsuario')}}">
						<span class="fa fa-arrow-right">&nbsp;</span> Usuários
					</a></li>
				</ul>
			</li>
			<li class="parent "><a data-toggle="collapse" href="#sub-item-3">
				<em class="fa fa-navicon">&nbsp;</em> Lista <span data-toggle="collapse" href="#sub-item-3" class="icon pull-right"><em class="fa fa-plus"></em></span>
				</a>
				<ul class="children collapse" id="sub-item-3">
					<li><a class="" href="{{ url_for('listaTipoBombas')}}">
						<span class="fa fa-arrow-right">&nbsp;</span>Modelos de Bombas
					</a></li>
					<li><a class="" href="{{ url_for('listaPecas')}}">
						<span class="fa fa-arrow-right">&nbsp;</span> Peças
					</a></li>
					<li><a class="" href="{{ url_for('listaSetores')}}">
						<span class="fa fa-arrow-right">&nbsp;</span> Setores
					</a></li>
					<li><a class="" href="{{ url_for('listaUsuarios')}}">
						<span class="fa fa-arrow-right">&nbsp;</span> Usuários
					</a></li>
				</ul>
			</li>
			<li class="parent "><a data-toggle="collapse" href="#sub-item-4">
				<em class="fas fa-file-alt">&nbsp;</em> Ordem <span data-toggle="collapse" href="#sub-item-4" class="icon pull-right"><em class="fa fa-plus"></em></span>
				</a>
				<ul class="children collapse" id="sub-item-4">
					<li><a class="" href="{{ url_for('ordemServicoAndamento')}}">
						<span class="fa fa-arrow-right">&nbsp;</span> Abertas
					</a></li>
					<li><a class="" href="{{ url_for('listaPecas')}}">
						<span class="fa fa-arrow-right">&nbsp;</span> Fechadas
					</a></li>
					<li><a class="" href="{{ url_for('listaSetores')}}">
						<span class="fa fa-arrow-right">&nbsp;</span> Todas as Ordens
					</a></li>
				</ul>
			</li>
			<li><a href="panels.html"><em class="fa fa-clone">&nbsp;</em> Alerts &amp; Panels</a></li>
			
			<li><a href="{{ url_for('logout')}}"><em class="fa fa-power-off">&nbsp;</em> Logout</a></li>
		</ul>
	</div><!--/.sidebar-->

</div>

	{% with msgError = get_flashed_messages(category_filter=["error"]) %}
		{% if msgError %}
			<div class="col-sm-offset-2">
				<ul>
					{% for msg in msgError %}
						<li class="col-xs-offset-2 col-xs-8 text-center" style="list-style-type: none;">
							<div class="alert alert-danger" role="alert">
								<strong>{{ msg }}
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</strong>

							</div>
						</li>
					{% endfor %}
				</ul>
			</div>
		{% endif %}
	{% endwith %}

	{% with msgSuccess = get_flashed_messages(category_filter=["info"]) %}
		{% if msgSuccess %}
			<div class="col-sm-offset-2">
				<ul>
					{% for msg in msgSuccess %}
						<li class="col-xs-offset-2 col-xs-8 text-center" style="list-style-type: none;">
							<div class="alert alert-success" role="alert">
								<strong>{{ msg }}
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</strong>
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>
		{% endif %}
	{% endwith %}

	{% block content %}
	<h3>{{ current_user.login }}</h3>
	{% endblock %}

<!--	MODAL DE CONFIRMAÇÃO DE EXCLUSÃO-->

	<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h3 class="modal-title" id="myModalLabel">Deletar</h3>
		  </div>
		  <div class="modal-body">
			  <h4>Você relamente deseja deletar?</h4>
			  <small>Atenção: esta ação não poderá ser revertida!</small>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
			<a type="button" href="" class="btn btn-danger" id="delRef">Excluir</a>
		  </div>
		</div>
	  </div>
	</div>


	<script>
		$('table #deleteButton').on('click', function(event){
			event.preventDefault();

			var href = $(this).attr('data-codigo');
			console.log(href);
			$("#deleteModal #delRef").attr('href', href);
		 })

	</script>

	<script src="//code.jquery.com/jquery-2.2.0.min.js"></script>
	<script src="//code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>
	<script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/chart.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/chart-data.js') }}"></script>
	<script src="{{ url_for('static', filename='js/easypiechart.js') }}"></script>
	<script src="{{ url_for('static', filename='js/easypiechart-data.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap-datepicker.js') }}"></script>
	<script src="{{ url_for('static', filename='js/custom.js') }}"></script>
	<script src="http://code.jquery.com/jquery-1.8.2.js"></script>
	<script src="http://code.jquery.com/ui/1.9.0/jquery-ui.js"></script>
	<script>
   		$("option[value='0']").attr("disabled", "disabled");
	</script>

</body>
</html>