
{% extends 'base.html' %}

{% block content %}
<div class="col-sm-offset-3 col-sm-9 col-lg-offset-2 col-lg-10">

    <h1 class="text-center">Lista Usuários</h1>
    
    <table class="table table-bordered table-hover">
        <tr>
            <td class="text-center col-xs-1">#</td>
            <td class="col-xs-2">Usuario</td>
            <td class="text-center col-xs-1">Perfil</td>
            <td class="col-xs-2">Setor</td>
            <td class="text-center col-xs-1">Opções</td>
        </tr>
        {% for usuario in usuarios %}
        <tr>
            <td class="text-center">{{ usuario.id }}</td>
            <td>{{ usuario.username }}</td>
            {% for perfil in perfis %}
                {% if perfil.id == usuario.perfilAcesso_id %}
                <td class="text-center">{{ perfil.nomePerfil }}</td>
                {% endif %}
            {% endfor %}
            {% for setor in setores %}
                {% if setor.id == usuario.setor_id %}    
                <td>{{ setor.nomeSetor }}</td>
                {% endif %}
            {% endfor %}    
            <td class="text-center">
                <a href="/editarUsuario/{{ usuario.id }}"><i class="far fa-edit"></i></a>
                <a id="idUsuario" idUser="{{ usuario.id }}" data-toggle="modal" data-target="#bannerformmodal"><i class="excluir far fa-trash-alt"></i></a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>


<div class="modal fade bannerformmodal" tabindex="-1" id="bannerformmodal" role="dialog" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Excluir</h4>
      </div>
      <div class="modal-body">
        <p>Tem certeza que deseja excluir o usuário?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger"></a >Confirma</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<script>
    $(document).ready(function(){
        $('#idUsuario').change(function(){
            var id = document.getElementsById('idUser').val();
            console.log(id);
        });
    });
</script>
{% endblock %}