
{% extends 'base.html' %}

{% block content %}
<div class="col-sm-offset-3 col-sm-9 col-lg-offset-2 col-lg-10">

    <h1 class="text-center">Lista Usuários</h1>
    
    <table class="table table-bordered table-hover">
        <tr>
            <td class="text-center col-xs-1">#</td>
            <td class="col-xs-2">Usuario</td>
            <td class="text-center col-xs-1">Perfil</td>
            <td class="col-xs-2">Setor</td>
            <td class="text-center col-xs-1">Opções</td>
        </tr>
        {% for usuario in usuarios %}
        <tr>
            <td class="text-center">{{ usuario.id }}</td>
            <td>{{ usuario.username }}</td>
            {% for perfil in perfis %}
                {% if perfil.id == usuario.perfilAcesso_id %}
                <td class="text-center">{{ perfil.nomePerfil }}</td>
                {% endif %}
            {% endfor %}
            {% for setor in setores %}
                {% if setor.id == usuario.setor_id %}    
                <td>{{ setor.nomeSetor }}</td>
                {% endif %}
            {% endfor %}    
            <td class="text-center">
                <a href="/editarUsuario/{{ usuario.id }}"><i class="far fa-edit"></i></a>
                <a href="/excluirUsuario/{{ usuario.id }}"><i class="excluir far fa-trash-alt"></i></a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>    
{% endblock %}