
{% extends 'base.html' %}

{% block content %}
<div class="col-sm-offset-3 col-sm-9 col-lg-offset-2 col-lg-10">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="col-xs-12">  
            <h1 class="text-center">Cadastro Setor</h1> 
            <div class="col-xs-10 col-sm-6">
                <div class="form-group">
                    {{ form.nomeSetor.label }}<br>
                    {{ form.nomeSetor(size=32, class="form-control", placeholder="Nome") }}<br>
                    {% for erro in form.nomeSetor.errors %}
                    <span style="color: red;">{{ erro }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="col-xs-10 col-sm-6">
                <div class="form-group">
                    {{ form.abreviatura.label }}<br>
                    {{ form.abreviatura(size=32, class="form-control", placeholder="Abreviatura") }}<br>
                    {% for erro in form.abreviatura.errors %}
                    <span style="color: red;">{{ erro }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="col-xs-10 col-sm-6">
                <div class="form-group">
                    {{ form.descricao.label }}<br>
                    {{ form.descricao(size=32, class="form-control", placeholder="Descrição") }}<br>
                    {% for error in form.descricao.errors %}
                    <span style="color: red;">{{ erro }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="col-xs-12">
                <button type="submit" class="btn btn-success">Salvar</button>
                <a href="/index" class="btn btn-danger">Cancelar</a>
            </div>
        </div>
    </form>
</div>
    
{% endblock %}