
{% extends 'base.html' %}

{% block content %}
<div class="col-sm-offset-3 col-sm-9 col-lg-offset-2 col-lg-10">

    <form action="" method="POST">
        <h3 class="text-center">Editar Setor</h3>
        <hr>
        <div class="col-xs-8">
            <div class=" form-group">
                <label>Nome Setor:</label>
                <input class="form-control" type="text" name="nomeSetor" value="{{ setor.nomeSetor }}" required>
            </div>
            <div class=" form-group">
                <label>Abreviatura:</label>
                <input class="form-control" type="text" name="abreviatura" value="{{ setor.abreviatura }}" required>
            </div>
            <div class=" form-group">
                <label>Descrição:</label>
                <input class="form-control" type="text" name="descricao" value="{{ setor.descricao }}" required>
            </div>
            <input class="btn btn-success" type="submit" value="Salvar" />
            <a href="/index" class="btn btn-danger">Cancelar</a>
        </div>
    </form>
</div>

{% endblock %}