
{% extends 'base.html' %}

{% block content %}
<div class="col-sm-offset-3 col-sm-9 col-lg-offset-2 col-lg-10">

<h1 class="text-center">Lista de Setores</h1>
    
    <table class="table table-bordered table-hover">
        <tr>
            <td class="col-xs-3">Setor</td>
            <td class="text-center col-xs-1">Abreviatura</td>
            <td class="col-xs-2">Descrição</td>
            <td class="text-center col-xs-1">Opções</td>
        </tr>
        {% for setor in setores %}
        <tr>
            <td>{{ setor.nomeSetor }}</td>
            <td class="text-center">{{ setor.abreviatura }}</td>
            <td>{{ setor.descricao }}</td>
            <td class="text-center"><a href="/editarSetor/{{ setor.id }}"><i class="far fa-edit"></i></a>
                <a href="/excluirSetor/{{ setor.id }}"><i class="excluir far fa-trash-alt"></i></a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>    
{% endblock %}