
{% extends 'base.html' %}

{% block content %}

<div class="col-sm-offset-3 col-sm-9 col-lg-offset-2 col-lg-10">

<h3 class="text-center">Lista de setores</h3>
    <div class="table-responsive col-xs-12">
        <table class="table table-bordered table-hover">
            <tr>
                <td class="col-xs-3">Setor</td>
                <td class="text-center col-xs-1">Abreviatura</td>
                <td class="col-xs-2">Descrição</td>
                <td class="text-center col-xs-1">Opções</td>
            </tr>
            {% if setores %}
            <tbody>
                {% for setor in setores %}
                <tr>
                    <td>{{ setor.nomeSetor }}</td>
                    <td class="text-center">{{ setor.abreviatura }}</td>
                    <td>{{ setor.descricao }}</td>
                    <td class="text-center">
                        <a data-toggle="tooltip" data-placement="top" title="Editar" href="/editarSetor/{{ setor.id }}"><i class="far fa-edit"></i></a>
                        <a data-toggle="tooltip" data-placement="top" title="Excluir" data-toggle="modal" data-target="#deleteModal" id="deleteButton" data-codigo="/excluirSetor/{{ setor.id }}"><i class="excluir far fa-trash-alt"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            {% else %}
                <td colspan="4" class="text-center">
                    Nenhum dado encontrado!
                </td>
            {% endif %}
        </table>
    </div>
    <nav aria-label="...">
      <ul class="pager">
          {% if prev_url %}
                <li><a href="{{ prev_url }}">Anterior</a></li>
          {% endif %}
          {% if next_url %}
               <li><a href="{{ next_url }}">Próxima</a></li>
          {% endif %}
      </ul>
    </nav>
</div>




{% endblock %}
