{% extends 'base.html' %}

{% block content %}
<div class="col-sm-offset-2 col-sm-10">
<div class="row">
    <ol class="breadcrumb">
        <li><a href="{{peca.id}}">
            <i class="fas fa-pen"></i>
        </a></li>
        <li class="active">Edição / Peça</li>
    </ol>
</div><!--/.row-->
    <h1 class="text-center">Editar Peça</h1>
    <form action="" method="POST">
        <div class="col-xs-8">
            <div class=" form-group">
                <label>Nome:</label>
                <input class="form-control" type="text" name="nome" value="{{ peca.nome }}" readonly>
            </div>
            <div class=" form-group">
                <label>Descrição:</label>
                <input class="form-control" type="text" name="descricao" value="{{ peca.descricao }}">
            </div>
            <input class="btn btn-success" type="submit" value="Salvar" />
            <a href="/index" class="btn btn-danger">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}