{% extends 'base.html' %}

{% block content %}
<div class="col-sm-offset-3 col-sm-9 col-lg-offset-2 col-lg-10">

<h1 class="text-center">Lista de Peças</h1>
    
    <table id="id_tabela" class="table table-bordered table-hover">
        <tr>
            <td class="col-xs-3">Nome</td>
            <td class="col-xs-2">Descrição</td>
            <td class="col-xs-2 ">Qt. Estoque</td>
            <td class="text-center col-xs-1">Opções</td>
        </tr>
        {% for peca in pecas %}
        <tr>
            <td>{{ peca.nome }}</td>
            <td>{{ peca.descricao }}</td>
            <td class="text-rigth">{{ peca.qtEstoque }}</td>
            <td class="text-center">
                <a href="/editarPeca/{{ peca.id }}"><i class="far fa-edit"></i></a>
                <a class="excluir" data-toggle="modal" data-target="#deleteModal" id="deleteButton" data-codigo="/excluirPeca/{{ peca.id }}"><i class="excluir far fa-trash-alt"></i></a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <nav aria-label="...">
      <ul class="pager">
          {% if prev_url %}
                <li><a href="{{ prev_url }}">Anterior</a></li>
          {% endif %}
          {% if next_url %}
               <li><a href="{{ next_url }}">Próxima</a></li>
          {% endif %}
      </ul>
    </nav>
</div>

{% endblock %}