
{% extends 'base.html' %}

{% block content %}
<div class="col-sm-offset-3 col-sm-9 col-lg-offset-2 col-lg-10">

<h1 class="text-center">Lista de Peças</h1>
    
    <table id="id_tabela" class="table table-bordered table-hover">
        <tr>
            <td class="text-center col-xs-1">#</td>
            <td class="col-xs-2">Nome</td>
            <td class="col-xs-2">Descrição</td>
            <td class="text-center col-xs-1">Opções</td>
        </tr>
        {% for peca in pecas %}
        <tr>
            <td class="text-center" >{{ peca.id }}</td>
            <td>{{ peca.nome }}</td>
            <td>{{ peca.descricao }}</td>
            <td class="text-center">
                <a href="/editarPeca/{{ peca.id }}"><i class="far fa-edit"></i></a>
                <a href="/excluirPeca/{{ peca.id }}"><i class="excluir far fa-trash-alt"></i></a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}