{% extends 'base.html' %}

{% block content %}
<div class="col-sm-offset-3 col-sm-9 col-lg-offset-2 col-lg-10">

    <div class="col-xs-12">
         <h3 class="text-center">Requisições abertas</h3>
    </div>
    <div class="col-xs-12">
        <hr class="linhahr">
    </div>
    <div class="table-responsive col-xs-12">
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <td class="col-xs-1">Requisitante</td>
                <td class="text-center col-xs-1">Equipamento</td>
                <td class="text-right col-xs-1">Quantidade</td>
                <td class="text-center col-xs-1">Data/hora criação</td>
                <td class="text-center col-xs-1">Observação</td>
                <td class="text-center col-xs-1">Opções</td>
            </tr>
            {% if lista %}
            <tbody>
                {% for lista in lista %}
                <tr>
                    {% for user in users %}
                        {% if user.id == lista.requisitante %}
                        <td class="col-xs-1">{{ user.username }}</td>
                        {% endif %}
                    {% endfor %}
                    <td class="text-center col-xs-1">{{ lista.equipamento }}</td>
                    <td class="text-right col-xs-1">{{ lista.quantidade }}</td>
                    <td class="text-center col-xs-1">{{ lista.dataHoraCriacao.strftime('%d/%m/%Y - %H:%M')}}</td>
                    <td class="text-center col-xs-1">{{ lista.observacao }}</td>
                    <td class="text-center col-xs-1">
                        <a href="/baixarEstoque/{{ lista.id }}"><i class="fas fa-arrow-alt-circle-down"></i></a>
                        <a class="excluir" data-toggle="modal" data-target="#deleteModal" id="deleteButton"
                           data-codigo="/excluirRequisicao/{{ lista.id }}"><i class="excluir far fa-trash-alt"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            {% else %}
                <td colspan="4" class="text-center">
                    Nenhum dado encontrado!
                </td>
            {% endif %}
        </table>
    </div>
    <nav aria-label="...">
      <ul class="pager">
          {% if prev_url %}
                <li><a href="{{ prev_url }}">Anterior</a></li>
          {% endif %}
          {% if next_url %}
               <li><a href="{{ next_url }}">Próxima</a></li>
          {% endif %}
      </ul>
    </nav>
</div>
{% endblock %}